<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="logback_app_name" value="tht"/>
<!--    <property name="LOG_PATH" value="${user.dir}/lurenjia/${logback_app_name}logs"/>-->
<!--    <property name="LOG_PATH" value="logs"/>-->
    <property name="LOG_PATH" value="${user.dir}/lurenjia/src/main/resources/logs"/>
    <!--取spring值-->
    <springProperty scope="context" name="name" source="spring.application.name" defaultValue="defaultValue"/>
    <!-- 1.控制台输出日志 ConsoleAppender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder 默认配置为PatternLayoutEncoder -->
        <encoder>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}---%magenta([%thread])---[%X{tid}]--%-5level---%blue([%c])---%green([%L])---[%msg]%n
            </pattern>
            <!--            <pattern>&#45;&#45;%-5level %d{yyyy-MM-dd HH:mm:ss.SSS} %msg%n</pattern>-->
        </encoder>
        <filter class="com.example.lurenjiaspring.config.filter.LogBackCustomStdoutFilter"/>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <appender name="COM_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>--%-5level %d{HH:mm:ss} %msg%n</pattern>
        </encoder>
        <filter class="com.example.lurenjiaspring.config.filter.LogBackCustomComStdoutFilter"/>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <!-- 2.输出到文件 -->
    <appender name="rollingDebugFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--文件路径：可使用ognl-->
<!--            <fileNamePattern>${LOG_PATH}/${name}debug.%d{yyyy-MM-dd}.%i.log</fileNamePattern>-->
            <fileNamePattern>${name}debug.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!--每个文件最大100MB；保存60天；总文件最多20GB-->
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}---[%thread]---[%X{tid}]---%-5level---[%c]---[%L]-----[%msg]%n</pattern>
        </encoder>
        <!--        只看debug日志-->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <appender name="rollingInfoFile" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--文件路径：可使用ognl-->
            <fileNamePattern>${LOG_PATH}/info.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!--每个文件最大100MB；保存60天；总文件最多20GB-->
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}---[%thread]---[%X{tid}]---%-5level---[%c]---[%L]-----[%msg]%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="errorRollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--文件路径：可使用ognl-->
            <fileNamePattern>${LOG_PATH}/error.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!--每个文件最大100MB；保存60天；总文件最多20GB-->
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}---[%thread]---%-5level---[%c]---[%L]-----[%msg]%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="MYSQL_SQL" class="com.example.lurenjiaspring.config.logconfig.MySQLSqlAppender">
    </appender>

    <!--引用mysql自定义appender-com.example.lurenjiaspring.dao
        1.这个位置的日志全部走这个append->("MYSQL_SQL"),这时候我在log.bebug（""）走的就是这个类下的append;
        2.没对这个类特殊定义，那么就是走的下面的append,,,,
        3.总结  所有的log都去走root下面配置的append，否则重写没意义-->
<!--    <logger name="com.example.lurenjiaspring.dao" level="debug" additivity="false">-->
<!--        <appender-ref ref="MYSQL_SQL"/>-->
<!--        &lt;!&ndash;        要重写就不应该走这里了&ndash;&gt;-->
<!--        &lt;!&ndash;        <appender-ref ref="rollingDebugFile"/>&ndash;&gt;-->
<!--    </logger>-->


    <!--    可以指定包名，可以指定具体logger类-->
    <!-- 本地、开发环境，日志配置 可以写logback支持的所有节点 -->
    <springProfile name="local,dev">
        <!--        根下info级别，或者其他自定义的级别比如com.example、org.springframework,全部走这里的append-->
        <root level="info">
            <!--            这个级别下，或者高于这个append全部进入，要想debug只看debug在append去设置过滤器-->
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="COM_STDOUT"/>
            <appender-ref ref="rollingDebugFile"/>
            <appender-ref ref="rollingInfoFile"/>
            <appender-ref ref="errorRollingFile"/>
        </root>
    </springProfile>


    <!-- 线上环境，日志配置 -->
    <!--    <springProfile name="production">-->
    <!--        <root level="error">-->
    <!--            &lt;!&ndash;日志输出到文件&ndash;&gt;-->
    <!--            <appender-ref ref="errorRollingFile"/>-->
    <!--        </root>-->
    <!--    </springProfile>-->
</configuration>
